body {
  font-family: 'Poppins', 'Comic Neue', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/*  common section */
.section-heading {
  margin-bottom: 20px;
}

.section-heading h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #7c0a02;
  margin-bottom: 10px;
  text-align: center;
}
.section-heading h2 {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
  text-align: center;
}
.section-heading p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
/*  search box */
.search_block {
  background: #7c0a02;
  padding: 12px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999999;
}

.search_logo input {
  border: 2px solid #ddd;
  display: inline-block;
  margin-right: auto;
  padding: 6px;
  width: calc(100% - 112px);
}

.search_logo.display-flex button {
  background: #555;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 39px;
  margin-right: 2px;
  text-align: center;
  width: 50px;
}
.search_logo.display-flex button:hover{
  color: blue;
  background-color: #fff;}

.search_logo.display-flex a {
  background: #555;
  border: none;
  color: #f8f8f8;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 41px;
  text-align: center;
  width: 50px;
}
.search_logo.display-flex a:hover{
  color: #ae1e1a;
  background-color: #fff;
}

.hidden {
  display: none;
}

/*  top-header-start */
.top-header {
  padding: 5px 0;
  background-color: #2d2f34;
}

.top-header h3 {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-header h3:hover {
  color: #b22222;
}

.top-header .support i {
  font-size: 14px;
  padding: 5px 0px;
  margin-right: 10px;
  color: #d30000;
}

.col-lg-3:first-child .support {
  border-right: 1px solid #fff;
}

.social-links {
	font-size: 14px;
	line-height: 22px;
}

.social-links .round-btn a {
  background-color: transparent;
  color: #f8f8f8;
  margin-left: 12px;
  text-decoration: none;
}
.round-btn a i {
  font-size: 14px;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.social-links .round-btn {
  list-style: none;
}

.social-links .fa-facebook-f:hover {
  color: #3b5998;
}

.social-links .fa-twitter:hover {
  color: #1998c8;
}

.social-links .fa-youtube:hover {
  color: #ae1e1a;
}

.social-links .fa-square-rss:hover {
  color: #eb632d;
}

/* main-header-start */
.main-header {
  background-color: #000;
  padding: 5px;
}

.logo i {
  font-size: 25px;
  color: #7c0a02;
}

.logo a {
  color: #000;
  font-weight: 700;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
  padding: 12px 20px;
  color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #b22222;
}

.main-header .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.main-header .navbar-brand h2 {
  font-size: 27px;
  padding: 0px 15px;
  margin-bottom: 0;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 2px 0 #00000051;
}

.navbar-nav .nav-item .nav-link i:last-child {
  margin: 0px;
}

.dropdown {
  text-decoration: none;
  border: 0;
  padding: 0;
}

.dropdown-menu {
  display: none;
  min-width: 12rem;
  padding-top: 20px;
  background-color: #fff;
  border: 0;
}

.dropdown-menu.show .drop-menu {
  background-color: #000;
  color: #f8f8f8;
  display: block;
}

.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  background-color: #000;
  padding: 8px 20px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  color: #b22222;
  background-color: #f8f8f8;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* hero-section */
.hero-section {
padding: 60px 0;
  background-color: #ccc;
}

.hero-details {
  margin: 0px 80px;
  padding-top: 30px;
}

.hero-image {
  width: 100%;
  object-fit: cover;
}

.hero-details h1 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.hero-details p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #b22222;
  margin: 20px 0;
  border: 0;
  text-transform: uppercase;
}

.hero-btn:hover {
  background-color: #000;
}
/*  counter */
.counter-section {
  margin: 0px 0 60px 0;
}
.count {
	background: #eee;
	padding: 50px 0;
}

.count .counter-box h5 {
	font-size: 40px;
	color: #2d2f40;
	font-weight: 600;
	padding-bottom: 15px;
}
.count .counter-box p{
  font-size: 16px;
	color: #333;
	font-weight: 500;

}
/* service-section */
.service-section {
  margin-bottom: 60px;
}
.service-card {
  margin-bottom: 24px;
  box-shadow: 0 0 2px 0 #00000051;
}
.service-details {
  border: 1px solid #eee;
  padding: 25px;
}
.service-details i {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
  color: #7c0a02;
}
.service-details h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
  margin-bottom: 10px;
}
.service-details p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
.service-details a {
  font-size: 14px;
  font-weight: 500;
  color: #b22222;
}
.service-details a span i {
  font-size: 14px;
  color: #b22222;
  transition: scalex(1);
}
.service-card:hover .service-details a span {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.service-card:hover .service-details a span i {
  transform: scalex(1.2);
}
/* about-section */
.about-section {
  margin-bottom: 60px;
}
.about-area{
margin-top: 20px;
}
.about-area h2{
  font-size: 27px;
  line-height: 37px;
  color: #000;
  font-weight: 500;
  margin-bottom: 30px;
}
.about-area h2 span{
  color: #7c0a02;
  font-weight: 600;
}
.about-area p{
  font-size: 14px;
  color: #333;
  line-height: 20px;
  margin-bottom: 10px;
  text-align: justify;
  margin-right: 90px;

}
.area-img{
  overflow: hidden;
}
.area-img img {
  transform: scale(1);
  transition: all 0.5s ease;
}
.area-img img:hover {
  transform: scale(1.1);
  opacity: 0.75;
}

/* technologies-section */
.technologies-section{
  margin-bottom: 60px;
}
.tech-details{
  box-shadow: 0 0 0px 0 #00000051;
  margin-bottom: 24px;
  padding: 30px 0;
 text-align: center;
 background-color: #eee;
}
.tech-icon img{
  overflow-x: hidden;
  object-fit: cover;
  width: 100px;
  height: 100px;
  transform: scale(1);
  transition: all 0.5s ease;

}

.tech-icon img:hover {
  transform: scale(1.1);
}
/* porfolio-section */
.portfolio-section {
  margin-bottom: 60px;
}
.portfolio-card {
  margin-bottom: 24px;
  overflow: hidden;
}
.portfolio-card img {
  transform: scale(1);
  transition: all 0.5s ease;
}
.portfolio-card img:hover {
  transform: scale(1.1);
  opacity: 0.75;
}
/* team-section */
.team-section{
  margin-bottom: 60px;
}
.post-body {
  position: relative;
}

.post-details {
	background-color: #ae1e1a;
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 15px;
	width: 70%;
	transform: translate(-50%,-50%);
  transition: all 0.5s ease;
  overflow: hidden;
  text-align: center;

}

.post-details p {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 1.5px;
  color: #eee;
  margin-bottom: 10px;
}


.post-details h5 {
  font-size: 17px;
  font-weight: 22px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #fff;
}

.post-links{
  position: absolute;
	top: 20%;
	left: 80%;
	border-radius: 0;
	width: 0;
	transform: translateY(-50%);
	z-index:1;
  display: none; 
}
.post-links a i {
	font-size: 15px;
	color:#fff ;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 50%;
  background-color:#0072b1 ;
}
.post-links a{
  border-radius: 0;
  text-align: center;
 }
 .post-body:hover  .post-links {
  display: block;
  right: 20px;
 
}
.post-body:hover  .post-details h5 {
color: #000;
 
}

.post-body:hover .post-image img{

  opacity: 0.75;
}
/* testimonial-section */
.testimonial-section{
  margin-top: 120px;
}
.user-profile {
  margin-bottom: 20px;
}

.user-profile .user-img img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.user-details {
  padding: 0px 10px;
}
.user-details h2 {
	font-size: 16px;
	font-size: 700;
	line-height: 22px;
	letter-spacing: -0.3px;
  color: #ae1e1a;
}
.test-para p {
	font-size: 11px;
	color: #333;
	margin: 10px 0px;

}
.test-para p{

    font-size: 12px;
    /* margin-right: 26px; */
    color: #555;
    margin: 10px 0px;

}
.testimonial {
  padding: 20px 20px;
  border-radius: 5px;
  border: 0;
  background-color: #eee;
  box-shadow: 0 0 0px 0 #00000051;
}
/* policy section */
.policy-section {
  margin: 60px 0;
  background-color: #ead5ce;
}

.policy-img img {
  object-fit: cover;
  width: 100%;
}

.policy-body {
  text-align: center;
  padding: 100px 0;
}

.policy-body p {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 20px;
  color: #555;
}

.policy-body h5 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -0.3px;
}

.policy-body a span {
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 20px;
  color: #000;
  text-decoration: underline;
}

.policy-area:hover .policy-body a span {
  color: #f3612e;
}
.policy-btn {
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #b22222;
  border: 0;
  
}

.policy-btn:hover {
  background-color: #000;
}
.policy-img{
  padding-top: 30px;
}
/* contact */

.contact-area {
  padding-top: 15px;
  padding-bottom: 15px;
}
.contact-padding {
  padding-bottom: 20px;
}
.contact-area h3 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.3;
  margin: 10px 12px;
}
.contact-area h4 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 1.5;
  margin: -25px 50px 10px;
}
.contact-area i {
	font-size: 13px;
	font-weight: 600;
	border-radius: 50%;
	background-color: #cc0000;
	color: #fff;
	padding: 0 9px;
	margin: 18px 4px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	
}
.contact-area-details {
  padding: 12px 60px;

  background-color: #f4f4f4;
}
.contact-details {
  margin: 12px 0px;
  border: 1px solid #f4f4f4;
  background-color: #fff;
}
.details-area {
  margin: 22px;
  padding: 10px 40px;
  border: 1px solid #f4f4f4;
}
.details-area input {
  border: none;
}

.message-area {
  margin: 22px;
  padding: 10px 42px 120px;
  border: 1px solid #f4f4f4;
}
.message-area input {
  border: none;
}
.contact-button{
  margin: 20px 0;
}
/* footer */

.footer-section {
  background-color: #000;
  color: #fff;
}
.footer-info-border h3{
  font-size: 22px;
  line-height: 22px;
  color: #fff;
}
.footer-info-border h3 span{
  color: #7c0a02;
}

.footer-social-links a{
  margin-right: 10px;
  color: #fff;
  font-size: 16px;
}

.footer-info-details p{
  font-size: 12px;
  color: #eee;
  line-height: 20px;
  margin-bottom: 20px;
}
.fa-twitter:hover {
  color: #00acee;
}

.fa-youtube:hover {
  color: #CD201F;
}

.fa-pinterest:hover {
  color: #c8232c;
}

.fa-linkedin:hover {
  color: #0072b1;
}

.fa-facebook-f:hover {
  color: #3b5998;
}
.footer-info {
  padding: 40px 0;
}

.footer-info ul {
  margin: 0;
  padding: 0;
}

.footer-info ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-info ul li h4{
  color: #fff;
  font-size: 14px;
}
.footer-info ul li h4:hover{
  color: #7c0a02;
}

.footer-info ul li a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  line-height: 14px;
  margin-right: 5px;
  width: 30px;
}

.footer-info ul li a:hover {
  color: #7c0a02;
}

.footer-info ul li a i {
  font-size: 12px;
  margin-right: 15px;
  color: #fff;
}

.footer-info ul li a i:hover {
  color: #7c0a02;
}

.footer-copyright {
  border-top: 1px solid #979692;
  background-color: #000;
}

.footer-end p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 14px;
  text-align: center;
  padding: 20px 0;
  color: #eee;
}

.footer-end a {
  text-decoration: none;
}

.footer-end a span {
  color: #7c0a02;
}
