body {
  font-family: 'Poppins', 'Comic Neue', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

/*  common section */
.section-heading {
  margin-bottom: 20px;
}

.section-heading h6 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #7c0a02;
  margin-bottom: 10px;
  text-align: center;
}
.section-heading h2 {
  font-size: 35px;
  line-height: 42px;
  margin-bottom: 10px;
  color: #000;
  font-weight: 600;
  text-align: center;
}
.section-heading p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 400;
  text-align: center;
}
/*  top-header-start */
.top-header {
  padding: 5px 0;
  background-color: #2d2f34;
}

.top-header h3 {
  font-size: 12px;
  font-weight: 400;
  padding: 5px 0;
  color: #fff;
  margin-bottom: 0;
  margin-right: 10px;
}

.top-header h3:hover {
  color: #b22222;
}

.top-header .support i {
  font-size: 14px;
  padding: 5px 0px;
  margin-right: 10px;
  color: #d30000;
}

.col-lg-3:first-child .support {
  border-right: 1px solid #fff;
}

.social-links {
  font-size: 14px;
}

.social-links .round-btn a {
  background-color: transparent;
  color: #f8f8f8;
  margin-left: 12px;
  text-decoration: none;
}
.round-btn a i {
  font-size: 14px;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.social-links .round-btn {
  list-style: none;
}

.social-links .fa-facebook-f:hover {
  color: #3b5998;
}

.social-links .fa-twitter:hover {
  color: #1998c8;
}

.social-links .fa-youtube:hover {
  color: #ae1e1a;
}

.social-links .fa-square-rss:hover {
  color: #eb632d;
}

/* main-header-start */
.main-header {
  background-color: #000;
  padding: 5px;
}

.logo i {
  font-size: 25px;
  color: #7c0a02;
}

.logo a {
  color: #000;
  font-weight: 700;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link {
  font-size: 16px;
  padding: 12px 20px;
  color: #fff;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
  color: #b22222;
}

.main-header .navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}

.main-header .navbar-brand h2 {
  font-size: 27px;
  padding: 0px 15px;
  margin-bottom: 0;
  color: #fff;
}

.sticky-nav {
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 9999;
  transition: 0.2s;
}

.navbar-nav .nav-item .nav-link i:last-child {
  margin: 0px;
}

.dropdown {
  text-decoration: none;
  border: 0;
  padding: 0;
}

.dropdown-menu {
  display: none;
  min-width: 12rem;
  padding-top: 20px;
  background-color: #fff;
  border: 0;
}

.dropdown-menu.show .drop-menu {
  background-color: #000;
  color: #f8f8f8;
  display: block;
}

.navbar {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  border-radius: 0;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: 'Barlow', sans-serif;
  background-color: #000;
  padding: 8px 20px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu a:hover {
  color: #b22222;
  background-color: #f8f8f8;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* hero-section */
.hero-section {
  margin: 60px 0;
}

.hero-details {
  margin: 0px 80px;
  padding-top: 60px;
}

.hero-image {
  width: 100%;
  object-fit: cover;
}

.hero-details h1 {
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 20px;
}

.hero-details p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.hero-btn {
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  background-color: #b22222;
  margin: 20px 0;
  border: 0;
  text-transform: uppercase;
}

.hero-btn:hover {
  background-color: #000;
}
/* service-section */
.service-section {
  margin-bottom: 60px;
}
.service-card {
  margin-bottom: 24px;
  box-shadow: 0 0 2px 0 #00000051;
}
.service-details {
  border: 1px solid #eee;
  padding: 25px;
}
.service-details i {
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 30px;
  color: #7c0a02;
}
.service-details h3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 32px;
  color: #000;
  margin-bottom: 10px;
}
.service-details p {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-bottom: 10px;
}
.service-details a {
  font-size: 14px;
  font-weight: 500;
  color: #b22222;
}
.service-details a span i {
  font-size: 14px;
  color: #b22222;
  transition: scalex(1);
}
.service-card:hover .service-details a span {
  text-decoration: underline;
  text-underline-offset: 10px;
}
.service-card:hover .service-details a span i {
  transform: scalex(1.2);
}
/* about-section */
.about-section {
  margin-bottom: 60px;
}
/* porfolio-section */
.portfolio-section {
  margin-bottom: 60px;
}
.portfolio-card {
  margin-bottom: 24px;
  overflow: hidden;
}
.portfolio-card img {
  transform: scale(1);
  transition: all 0.5s ease;
}
.portfolio-card img:hover {
  transform: scale(1.1);
  opacity: 0.75;
}

/* footer */

.footer-area {
  background-color: #000;
  color: #fff;
}

.footer-info {
  padding: 40px 0;
}

.footer-info ul {
  margin: 0;
  padding: 0;
}

.footer-info ul li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-info ul li a {
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  line-height: 14px;
  margin-right: 5px;
  width: 30px;
}

.footer-info ul li a:hover {
  color: #7c0a02;
}

.footer-info ul li a i {
  font-size: 12px;
  margin-right: 15px;
  color: #fff;
}

.footer-info ul li a i:hover {
  color: #7c0a02;
}

.footer-copyright {
  border-top: 1px solid #979692;
}

.footer-end p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.3;
  line-height: 14px;
  text-align: center;
  padding: 20px 0;
}

.footer-end a {
  text-decoration: none;
}

.footer-end a span {
  color: #7c0a02;
}
